<p id="notice"><%= notice %></p>

<h3>Comments</h3>
<br/>
<aside class="aside-comment">
  <button class="btn success-1" ><%= link_to 'New Comment', new_comment_path %></button>
  <button class="btn info-1" ><%= link_to 'Back', events_path %></button>
  <br/>
</aside>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>

        <td><%= comment.message %></td>
        <td><%= User.select(:username).where(id: comment.user_id).first.username%></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



