<p id="notice"><%= notice %></p>
<div class="row ml-0 mt-3">
  <h2 class="edith2">New Comment</h2>
  <p class="p-edit">Please enter the required information to create a Comment:</p>
</div>

<div class="div-2">
  <%= form_with model: @comment, local: true do |form| %>
    <div class="div-edit">
      <%= form.label :message %>
      <br/>
      <%= form.text_area :message, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.submit "Create", class: ["btn"] %>
      <%= link_to "Back", :back, class: ["btn"] %>
    </div>
  <% end %>
</div>