<p id="notice"><%= notice %></p>
<h1>Comments</h1>

<table>
  <thead>
  <tr>
    <th>Message</th>
    <th>User</th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.message %></td>
      <td><%= comment.user_id %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Comment', new_comment_path %>
<%= link_to 'Back', events_path %>
