<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'event-comments'%>
<h2><%= Event.select(:description).where(id: @comments.first.event_id).first.description%> comments:</h2>
  <tbody>
  <% @comments.each do |comment| %>
    <div>
      <h4 class="User"><%= User.select(:username).where(id: comment.user_id).first.username%>:</h4>
      <h4><%= comment.message %></h4>
      <button class="btn warning"><%= link_to 'Edit', edit_comment_path(comment) %></button>
      <button class="btn danger"><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  <% end %>
  </tbody>|
</table>

<br/>
<button class="btn success-1" align="center"><%= link_to 'New Comment', new_comment_path %></button>
<button class="btn info-1" align="center"><%= link_to 'Back', events_path %></button>
