<div class="row ml-0 mt-3">
  <h2 class="edith2">New Chat</h2>
</div>

<div class="div-2">
  <%= form_with model: @sent_message, local: true do |form| %>
    <div class="div-edit">
      <%= form.label :date %>
      <br/>
      <%= form.datetime_local_field :date, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :to_email %>
      <br/>
      <%= form.collection_select(:to_email, User.where('id NOT LIKE ?', "%#{current_user.id}%").order(username: :asc), :email, :email, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.label :subject %>
      <br/>
      <%= form.text_area :subject, class:"from-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :message %>
      <br/>
      <%= form.text_area :message, class:"from-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :user_id %>
      <br/>
      <%= form.collection_select(:user_id, User.where(id: current_user.id).order(email: :asc), :id, :username, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.submit "Create", class: ["btn"] %>
      <%= link_to "Back", :back, class: ["btn"] %>
    </div>
  <% end %>
</div>
