<div class="row ml-0 mt-3">
  <%= stylesheet_link_tag 'add-guest'%>
  <h2 class="edith2">New Guests</h2>
  <p class="p-edit">Please select the guests for your event:</p>
</div>
<div class="div-2">
  <%= form_with model: @guest_list, local: true do |form| %>
    <div class="div-edit">
      <%= form.label :user_id %>
      <br/>
      <%= form.collection_select(:user_id, User.where("id != ?", 1).order(name: :asc), :id, :username, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.label :event_id %>
      <br/>
      <%= form.collection_select(:event_id, Event.where(id: EventCreator.where(user_id: 1)).order(name: :asc), :id, :title, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.submit "Create", class: ["btn"] %>
    </div>
  <%end%>
  <br/>
  <p class="p-edit"> Hold down the Ctrl (Windows) or Command (Mac) button to select multiple options</p>
</div>