<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'event-comments'%>
<table>
  <thead>
  <tr>
    <h2>Guests:</h2>
  </tr>
  </thead>
<br/>
<aside class="aside-comment">
  <button class="btn11 success-1" ><%= link_to 'New Guest', new_guest_list_path %></button>
  <button class="btn11 info-1" ><%= link_to 'Back', events_path %></button>
  <br/>
</aside>



  <tbody>
  <% @guest_lists.each do |x| %>
    <div>
      <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
      <h3 class="Userp"><%= User.where(id: x.user_id).select(:username).first.username %></h3>
      <button class="btn1-1 danger2"><%= link_to 'Remove', x, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  <% end %>
  </tbody>
</table>

<br>



