<br/>
<h2 class="h2profile"><%= @user.full_name %></h2>
<% unless @user.profile_picture.attached? == true%>
  <span class="imageleft1"><%= link_to image_tag("xd.jpeg") %></span>
<% end %>
<% unless @user.profile_picture.attached?  == false%>
  <span class="imageleft1"><%= link_to image_tag(url_for(@user.profile_picture)) %></span>
<% end %>
<h4 class="h4profilep"><%= @user.username %></h4>
<h4 class="h4profile"><%= @user.short_bio %></h4>
<h4 class="h4profile"><%= @user.location %></h4>
<br/>
<br/>
<br/>
<br/>
<div class="div-2">
  <button class="btn"><%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <button class="btn"><%= link_to "Edit Registation", edit_user_registration_path %></button>
</div>

<div class="row ml-0 mt-3">
  <h2 class="edith2">Edit my profile</h2>
  <p class="p-edit">Please enter the required information to edit the profile:</p>
</div>

<div class="div-2">
  <%= form_with model: @user, local: true do |form| %>
    <div class="div-edit">
      <%= form.label :full_name %>
      <br/>
      <%= form.text_area :full_name, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :short_bio %>
      <br/>
      <%= form.text_area :short_bio, class: "form-control" %>
    </div>
      <div class="div-edit">
        <%= form.label :location %>
        <br/>
        <%= form.text_area :location, class: "form-control" %>
      </div>
    <div class="div-edit">
      <%= form.label :profile_picture %>
      <br/>
      <%= form.file_field :profile_picture, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.submit "Update", class: ["btn"] %>
    </div>
  <% end %>
</div>
