<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'profile'%>
<br/>

<h2 class="h2profile",align="center"><%= @first_user.full_name %></h2>
<aside>
  <button class="asideboton"> <%= link_to 'Edit Profile', edit_user_path(@first_user) %></button>
  <button class="asideboton"> <%= link_to 'See Details', user_path(@first_user) %></button>
</aside>
  <h4 align="left"><%= @first_user.username %></h4>
  <h4 align="left"><%= @first_user.short_bio %></h4>
  <h4 align="left"><%= @first_user.location %></h4>
  <h4 align="left"><%= Organization.where(id: @user_member).select(:name).first.name %></h4>
<br/>

<h3> You were invited to: </h3>

  <% @invitations.each do |x| %>
    <div>
      <h4><%= x.description %></h4>
      <h4><%= x.final_date %></h4>
      <h4><%= x.location %></h4>
      <button><%= link_to 'View', x %></button>
    </div>
  <% end %>

