<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'profile'%>
<br/>


<h2 class="h2profile"><%= @first_user.full_name %></h2>
<aside class="asideprofile">
  <button class="botonasideprofile"> <%= link_to 'Edit Profile', edit_user_path(@first_user) %></button>
  <button class="botonasideprofile"> <%= link_to 'See Details', user_path(@first_user) %></button>
</aside>

<% unless @first_user.profile_picture.attached? == true%>
  <h4 class="imageleft1"><%= link_to image_tag("xd.jpeg") %></h4>
<% end %>
<% unless @first_user.profile_picture.attached?  == false%>
  <h4 class="imageleft1"><%= link_to image_tag(url_for(@first_user.profile_picture)) %></h4>
<% end %>

  <h4 class="h4profilep"><%= @first_user.username %></h4>
  <h4 class="h4profile"><%= @first_user.short_bio %></h4>
  <h4 class="h4profile"><%= @first_user.location %></h4>
  <h4 class="h4profile"><%= Organization.where(id: @user_member).select(:name).first.name %></h4>
<br/>
<br/>
<h2 class="h2profile2"> You were invited to: </h2>

  <% @invitations.each do |x| %>
    <div class="divprofile">
      <% unless x.banner_picture.attached? == true%>
        <h4 class="imageleft"><%= link_to image_tag("xd.jpeg") %></h4>
      <% end %>
      <% unless x.banner_picture.attached?  == false%>
        <h4 class="imageleft"><%= link_to image_tag(url_for(x.banner_picture)) %></h4>
      <% end %>
      <h4 class="h4profilep"><%= x.title %></h4>
      <h4 class="h4profile"><%= x.description %></h4>
      <h4 class="h4profile"><%= x.final_date %></h4>
      <h4 class="h4profile"><%= x.location %></h4>
      <button class="botondivprofile"><%= link_to 'View', x %></button>
    </div>
  <% end %>

