<%= stylesheet_link_tag 'profile'%>
<br/>
<% unless user_signed_in? == false %>
<h2 class="h2profile"><%= User.where(id: @get_id).select(:full_name).first.full_name %></h2>
<aside class="asideprofile">
  <% if User.where(id: @get_id).select(:id).first.id == current_user.id %>
  <button class="botonasideprofile"> <%= link_to 'Edit Profile', edit_user_path(User.where(id: @get_id).select(:id).first.id) %></button>
  <%end %>
  <button class="botonasideprofile"> <%= link_to 'See Details', system_admin_url(User.where(id: @get_id).select(:id).first.id) %></button>
  <% if User.where(id: @get_id).select(:id).first.id != current_user.id %>
  <button class="botonasideprofile"> <%= link_to 'Report', new_report_path %></button>
  <%end %>
</aside>

<% unless User.where(id: @get_id).select(:profile_picture).first.profile_picture.attached? == true%>
  <h4 class="imageleft1"><%= link_to image_tag("xd.jpeg"), width: '300px'  %></h4>
<% end %>
<% unless User.where(id: @get_id).select(:profile_picture).first.profile_picture.attached?  == false%>
  <h4 class="imageleft1"><%= link_to image_tag(url_for(User.where(id: @get_id).select(:profile_picture).first.profile_picture), width: '300px') %></h4>
<% end %>

<h4 class="h4profilep"><%= User.where(id: @get_id).select(:username).first.username %></h4>
<h4 class="h4profile"><%= User.where(id: @get_id).select(:short_bio).first.short_bio %></h4>
<h4 class="h4profile"><%= User.where(id: @get_id).select(:location).first.location %></h4>
  <%unless Organization.where(id: @user_member) == nil %>
  <%end %>
  <%unless Organization.where(id: @user_member) != nil %>
    <h4 class="h4profile"><%= Organization.where(id: @user_member).select(:name).first.name %></h4>
  <%end %>
  <br/>
<br/>
  <br/>
  <br/>
  <br/>
<br/>
  <h2 class="h2profile2"> <%= User.where(id: @get_id).select(:full_name).first.full_name %> was invited to: </h2>

  <% @invitations.each do |x| %>
    <%if EventCreator.where(user_id: current_user.id).where(event_id: x.id).present? == false %>
    <div class="divprofile">
      <% unless x.banner_picture.attached? == true%>
        <h4 class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></h4>
      <% end %>
      <% unless x.banner_picture.attached?  == false%>
        <h4 class="imageleft"><%= link_to image_tag(url_for(x.banner_picture), width: '300px') %></h4>
      <% end %>
      <h4 class="h4profilep"><%= x.title %></h4>
      <h4 class="h4profile"><%= x.description %></h4>
      <h4 class="h4profile"><%= x.final_date %></h4>
      <h4 class="h4profile"><%= x.location %></h4>
      <br/>
      <br/>
      <br/>
      <br/>
      <button class="botondivprofile"><%= link_to 'View', x %></button>
    </div>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <br/>
  <h2 class="h2profile2"> <%= User.where(id: @get_id).select(:full_name).first.full_name %> created the events: </h2>
  <% @created.each do |x| %>
    <div class="divprofile">
      <% unless x.banner_picture.attached? == true%>
        <h4 class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></h4>
      <% end %>
      <% unless x.banner_picture.attached?  == false%>
        <h4 class="imageleft"><%= link_to image_tag(url_for(x.banner_picture), width: '300px') %></h4>
      <% end %>
      <h4 class="h4profilep"><%= x.title %></h4>
      <h4 class="h4profile"><%= x.description %></h4>
      <h4 class="h4profile"><%= x.final_date %></h4>
      <h4 class="h4profile"><%= x.location %></h4>
      <br/>
      <br/>
      <br/>
      <br/>
      <button class="botondivprofile"><%= link_to 'View', x %></button>
    </div>
  <% end %>
<% end %>


