<p id="notice"><%= notice %></p>
<h1>My Profile</h1>

<table>
  <thead>
  <tr>
    <th> Username </th>
    <th> Full name </th>
    <th> Short Bio </th>
    <th> Location </th>
    <th> Email </th>
    <th> Password </th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <tr>
    <td><%= User.first.username %></td>
    <td><%= User.first.full_name %></td>
    <td><%= User.first.short_bio %></td>
    <td><%= User.first.location %></td>
    <td><%= User.first.email %></td>
    <td><%= User.first.password %></td>
  </tr>
  </tbody>
</table>

<br>

<h2> You were invited to: </h2>

<table>
  <thead>
  <tr>
    <th> Description </th>
    <th> Final Date </th>
    <th> Location </th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <% @invitations.each do |x| %>
  <tr>
    <td><%= x.description %></td>
    <td><%= x.final_date %>
    <td><%= x.location %></td>
    <td><%= link_to 'View', x %></td>
  </tr>
  <% end %>
  </tbody>
</table>