<p id="notice"><%= notice %></p>

<h3 align="left"> Details of the User: <%= @first_user.full_name %> </h3>
<br/>
<table>
  <thead>
  <tr>
    <th> Email </th>
    <th> Password</th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <tr>
    <td><%= @first_user.email %></td>
    <td><%= @first_user.password %></td>
    <td><%= link_to 'Edit', edit_user_path(@first_user) %></td>
  </tr>
  </tbody>
</table>
<br/>
<h6 align="center"><%= link_to 'Back', users_path %></h6>
