<%= stylesheet_link_tag 'multimedia'%>
<h1 class="multimediah1"> File Attachment of the Event: <%= Event.where(id: @get_id).select(:title).first.title %> </h1>
<br/>
<div class="divfotos">
  <% unless @event_multimedia.first.files.attached? == true%>
    <span class="imageleft-11"><%=  image_tag("xd.jpeg", width: '300px') %></span>
    <span class="imageleft-11"><%=  image_tag("xd.jpeg", width: '300px') %></span>
    <span class="imageleft-11"><%=  image_tag("xd.jpeg", width: '300px') %></span>
    <span class="imageleft-11"><%= image_tag("xd.jpeg", width: '300px') %></span>
  <% end %>
  <% unless @event_multimedia.first.files.attached?  == false%>
    <%= @event_multimedia.first.files.each do |file|%>
      <span class="imageleft-1"><%=  image_tag file.preview(resize_to_limit: [400,400]) %></span>
    <%end %>
  <% end %>
</div>
<br/>
<br/>
<h2 class="homeh2">Images of the Events</h2>
<div class="divfotos">
  <% unless @event_images.first.images.attached? == true%>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless @event_images.first.images.attached?  == false%>
    <%= @event_images.images.each do |imagen|%>
      <span class="imageleft-1"><%= link_to image_tag(url_for(@event_images.first.imagen)) %></span>
    <%end %>
  <% end %>
</div>
<br/>
<h2 class="homeh2">Videos of the Events</h2>
<div class="divfotos">
  <% unless @event_videos.first.videos.attached? == true%>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless @event_videos.first.videos.attached?  == false%>
    <%= @event_videos.videos.each do |video|%>
      <span class="imageleft-1"><%= link_to video_tag(url_for(@event_videos.first.video)) %></span>
    <%end %>
  <% end %>
</div>
<br/>
