<div class="div-2">
  <%= form_with model: event, local: true do |form| %>

    <div class="div-edit">
      <%= form.label :description %>
      <br/>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :location %>
      <br/>
      <%= form.text_area :location, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :final_date %>
      <br/>
      <%= form.datetime_local_field :final_date %>
    </div>
    <div class="div-edit">
      <%= form.label :choice_of_date_id %>
      <br/>
      <%= form.collection_select(:choice_of_date_id, ChoiceOfDate.all.order(description: :asc), :id, :description, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.label :privacy_id %>
      <br/>
      <%= form.collection_select(:privacy_id, Privacy.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
    </div>
    <div class="div-edit">
      <%= form.label :banner_picture %>
      <br/>
      <%= form.file_field :banner_picture, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :images %>
      <br/>
      <%= form.file_field :images, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :videos %>
      <br/>
      <%= form.file_field :videos, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.label :files %>
      <br/>
      <%= form.file_field :files, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.submit "Update", class: ["btn"] %>
      <%= link_to "Back", :back, class: ["btn"] %>
    </div>
  <% end %>
</div>
