
<div class="row ml-0">
  <%= form_with model: event, local: true do |form| %>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :location %>
      <%= form.text_area :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :final_date %>
      <%= form.datetime_local_field :final_date %>
    </div>
    <div class="form-group">
      <%= form.label :creation_date %>
      <%= form.datetime_local_field :creation_date %>
    </div>
    <div class="form-group">
      <%= form.label :choice_of_date_id %>
      <%= form.collection_select(:choice_of_date_id, ChoiceOfDate.all.order(description: :asc), :id, :description, {}, { class: "form-control" }) %>
    </div>
    <div class="form-group">
      <%= form.label :privacy_id %>
      <%= form.collection_select(:privacy_id, Privacy.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
