<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'event'%>
<h3>User: <%=@user.full_name%> </h3>
<br/>
<h2>Created Events</h2>
  <% @eventos.each do |x| %>
    <div>
      <h4 class="membersh4-1"><%= link_to image_tag("xd.jpeg") %></h4>
      <h4><%= x.description %></h4>
      <h4><%= x.location %></h4>
      <h4><%= x.final_date %></h4>
        <button class="btn success"><%= link_to 'See Event Page',event_path(x) %></button>
        <button class="btn info"><%= link_to 'See Comments', comment_path(x) %></button>
        <button class="btn warning"><%= link_to 'Edit', edit_event_path(x) %></button>
        <button class="btn danger"><%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  <% end %>

<br/>
<button class="btn success-1" align="center"><%= link_to 'New Event', new_event_path %></button>
<button class="btn info-1" align="center"><%= link_to 'Back', events_path %></button>


