<%= stylesheet_link_tag 'event-page'%>
<h1 class="eventpageh1"><%= Event.where(id: @get_id).select(:title).first.title%> </h1>
<br/>

<button class="button1" align="center"><%= link_to 'Report Event', new_report_path %></button>
<button class="button1"><%= link_to 'Videos/Images/Files', multimedium_path(Event.where(id: @get_id).select(:id).first.id)%></button>

<br/>
<div class="eventpagediv">
  <% unless Event.where(id: @get_id).select(:banner_picture).first.banner_picture.attached? == true%>
    <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless Event.where(id: @get_id).select(:banner_picture).first.banner_picture.attached?  == false%>
    <span class="imageleft"><%= link_to image_tag(url_for(Event.where(id: @get_id).select(:banner_picture).first.banner_picture)) %></span>
  <% end %>
  <h4 class="eventpageh4p">Description: <%= Event.where(id: @get_id).select(:description).first.description %></h4>
  <h4 class="eventpageh4">Date: <%= Event.where(id: @get_id).select(:final_date).first.final_date %></h4>
  <h4 class="eventpageh4">Location: <%=Event.where(id: @get_id).select(:location).first.location %></h4>
  <h4 class="eventpageh4">Create By: <%= @user.first.full_name %></h4>
</div>

<br/>
<br/>
<br/>
<%= stylesheet_link_tag 'event-comments'%>
<h2><%= Event.select(:title).where(id: @get_id).first.title%> Comments:</h2>
<aside class="aside-comment">
  <%unless GuestList.where(event_id: @get_id).where(user_id: current_user.id) == nil or EventCreator.where(event_id: @get_id).where(user_id: current_user.id) == nil  %>
    <button class="btn11 success-1" ><%= link_to 'New Comment', new_comment_path %></button>
  <%end %>
</aside>
<tbody>
<% Comment.where(event_id: @get_id).each do |comment| %>
  <div>
    <br/>
    <% unless User.select(:username).where(id: comment.user_id).first.profile_picture.attached? == true%>
      <span class="imageleft"><%= link_to image_tag("xd.jpeg", width: '250px') %></span>
    <% end %>
    <% unless User.select(:username).where(id: comment.user_id).first.profile_picture.attached?  == false%>
      <span class="imageleft"><%= link_to image_tag(url_for(User.select(:username).where(id: comment.user_id).first.profile_picture), width: '250px') %></span>
    <% end %>
    <h3 class="Userp"><%= User.select(:username).where(id: comment.user_id).first.username%>:</h3>
    <h4 class="User"><%= comment.message %></h4>
    <% unless admin_signed_in? == false or EventCreator.where(event_id: @get_id).where(user_id: current_user.id) == nil or Comment.where(user_id: current_user.id) == nil %>
    <button class="btn1-1 danger"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <%end %>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
<% end %>
</tbody>|
</table>

<br/>
<button class="button1" align="center"><%= link_to "See Creator's Profile", user_path(EventCreator.where(event_id: @get_id).select(:user_id).first.user_id) %></button>
<button class="button1" align="center"><%= link_to 'Back', events_path %></button>




