<p id="notice"><%= notice %></p>
<h2 align="center"><%= @event_name.first.description%> </h2>
<br/>

<table>
  <tr>
    <th>Final Date </th>
    <th>Location</th>
    <th>Created by</th>
  </tr>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
    <tr>
      <td><%= @event_date.first.final_date %></td>
      <td><%= @event_location.first.location %></td>
      <td><%= @user.full_name %></td>
    </tr>
  </tbody>
</table>
<br/>
<h5 align="center"><%= link_to 'See Comments', comments_path(@event) %></h5>
<h5 align="center"><%= link_to 'View Videos', event_path %></h5>
<h5 align="center"><%= link_to 'View File Attachment', event_path %></h5>
<h5 align="center"><%= link_to 'View Photos', event_path %></h5>
<br/>
<h6 align="center"><%= link_to 'Back', events_path %></h6>

