<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'event-page'%>
<h1 class="eventpageh1"><%= @event_title.first.title%> </h1>
<button class="btn2 info-1" align="center"><%= link_to 'Report Event', new_report_path %></button>
<br/>
    <div class="eventpagediv">
      <% unless @event_foto.first.banner_picture.attached? == true%>
        <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
      <% end %>
      <% unless @event_foto.first.banner_picture.attached?  == false%>
        <span class="imageleft"><%= link_to image_tag(url_for(@event_foto.first.banner_picture)) %></span>
      <% end %>
      <h4 class="eventpageh4p">Description: <%= @event_name.first.description %></h4>
      <h4 class="eventpageh4">Date: <%= @event_date.first.final_date %></h4>
      <h4 class="eventpageh4">Location: <%= @event_location.first.location %></h4>
      <h4 class="eventpageh4">Create By: <%= @user.full_name %></h4>
    </div>

<br/>
<button class="button1"><%= link_to 'See Comments', comment_path %></button>
<button class="button1"><%= link_to 'View File Attachment', multimedium_path(Event.where(id: @get_id).first.id)%></button>
<br/>
<br/>
<br/>
<h2 class="homeh2">Images of the Events</h2>
<div class="divfotos">
  <% unless @event_foto.first.images.attached? == true%>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless @event_foto.first.images.attached?  == false%>
    <%= @event_foto.images.each do |imagen|%>
    <span class="imageleft-1"><%= link_to image_tag(url_for(@event_foto.first.imagen)) %></span>
    <%end %>
  <% end %>
</div>
<br/>
<h2 class="homeh2">Videos of the Events</h2>
<div class="divfotos">
  <% unless @event_foto.first.videos.attached? == true%>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
    <span class="imageleft-11"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless @event_foto.first.videos.attached?  == false%>
    <%= @event_foto.videos.each do |video|%>
      <span class="imageleft-1"><%= link_to video_tag(url_for(@event_foto.first.video)) %></span>
    <%end %>
  <% end %>
</div>
<br/>

<button class="btn2 info-1" align="center"><%= link_to 'Back', events_path %></button>

