<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'event-page'%>
<h1 class="eventpageh1"><%= @event_title.first.title%> </h1>
<br/>
    <div class="eventpagediv">
      <% unless @event_foto.first.banner_picture.attached? == true%>
        <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
      <% end %>
      <% unless @event_foto.first.banner_picture.attached?  == false%>
        <span class="imageleft"><%= link_to image_tag(url_for(@event_foto.first.banner_picture)) %></span>
      <% end %>
      <h4 class="eventpageh4p">Description: <%= @event_name.first.description %></h4>
      <h4 class="eventpageh4">Date: <%= @event_date.first.final_date %></h4>
      <h4 class="eventpageh4">Location: <%= @event_location.first.location %></h4>
      <h4 class="eventpageh4">Create By: <%= @user.full_name %></h4>
    </div>

<br/>
<button class="button1"><%= link_to 'See Comments', comment_path %></button>
<button class="button1"><%= link_to 'View Videos', multimedia_path() %></button>
</br>
<button class="button1"><%= link_to 'View File Attachment', multimedium_path() %></button>
<button class="button1"><%= link_to 'View Photos', multimedia_path() %></button>
<br/>
<button class="btn2 info-1" align="center"><%= link_to 'Back', events_path %></button>

