<h2 align="center">Upcoming Events...</h2>
<%= stylesheet_link_tag 'homepage'%>
<% @upcoming_events.each do |x| %>
<div>
  <h4 align="left"><%= x.description %></h4>
  <h5 align="left"><%= x.final_date %></h5>
  <h5 align="left"><%= x.location %></h5>
  <button><%= link_to 'View', events_path %></button>
</div>

<%end %>