<h2 class="homeh2">Upcoming Events</h2>
<%= stylesheet_link_tag 'homepage'%>
<% @upcoming_events.each do |x| %>
<div class="homediv">
  <% unless x.banner_picture.attached? == true%>
    <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
  <% end %>
  <% unless x.banner_picture.attached?  == false%>
    <span class="imageleft"><%= link_to image_tag(url_for(x.banner_picture)) %></span>
  <% end %>
  <h4 class="homeh4"><%= x.title %></h4>
  <h5 class="homeh5"><%= x.final_date %></h5>
  <h5 class="homeh5"><%= x.location %></h5>
  <button class="buttonhome"><%= link_to 'View', event_path(x) %></button>
</div>

<%end %>