<p id="notice"><%= notice %></p>


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<h3>Users with admin permissions</h3>
<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Mail</th>



  </tr>
  <tbody>

  <% @admins.each do |x| %>
    <tr>

      <td><%= x.username %></td>
      <td><%= x.full_name %></td>
      <td><%= x.email %></td>
      <td><%= link_to 'Show more', events_path(x) %></td>





    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_system_admin_path(@system_admin) %> |
<%= link_to 'Back', system_admins_path %>
