<%= stylesheet_link_tag 'event-comments'%>
<br/>
<aside class="aside-comment">
  <button class="btn11 success-1" ><%= link_to 'Back', event_dates_path %></button>
</aside>
<br/>
<br/>

<h2>Dates to Vote of the "<%= Event.where(id: @get_id).select(:title).first.title %>" Event:</h2>
<h3> please vote for one </h3>
<br/>
<% @event_dates.each do |x| %>
  <div>
    <aside class="aside-botoneditar">
      <button ><%= link_to 'Edit', edit_event_date_path(x)%></button>
    </aside>
    <h3 class="User-11"><%= x.date %></h3>
  </div>
<% end %>