<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'mailbox'%>

<h1 class="h1-mail"> My Mailbox </h1>
<br/>
<button class="button1"><%= link_to 'New Chat', new_mailbox_path %></button>
<br/>

<% @mailboxes.each do |mailbox| %>
  <div>
    <% unless User.select(:username).where(id: mail_boxes.user_id).first.profile_picture.attached? == true%>
      <span class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></span>
    <% end %>
    <% unless User.select(:username).where(id: mail_boxes.user_id).first.profile_picture.attached?  == false%>
      <span class="imageleft"><%= link_to image_tag(url_for(User.select(:username).where(id: comment.user_id).first.profile_picture), width: '300px') %></span>
    <% end %>
    <h3 class="Userp"><%= User.select(:username).where(id: mail_boxes.user_id).first.username%>:</h3>
    <h4 class="User"><%= mail_boxes.message %></h4>
    <button class="btn1-1 danger"><%= link_to 'Delete', mailbox, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
<% end %>


