<%= stylesheet_link_tag 'members'%>
<% unless Organization.where(id: @organizacion).select(:banner_org).first.banner_org.attached? == true%>
  <span class="imageleft1"><%= link_to image_tag("xd.jpeg", width: '300px') %></span>
<% end %>
<% unless Organization.where(id: @organizacion).select(:banner_org).first.banner_org.attached?  == false%>
  <span class="imageleft1"><%= link_to image_tag(url_for(Organization.where(id: @organizacion).select(:banner_org).first.banner_org), width: '300px') %></span>
<% end %>
<h2 class="membersh2" align="left"><%= Organization.where(id: @organizacion).select(:name).first.name %></h2>
<h4 class="membersh4",align="left"><%= Organization.where(id: @organizacion).select(:description).first.description %></h4>
<h3 class="membersh3"> ADMIN: <%= User.where(id: @admin.first.user_id).select(:username).first.username %></h3>
<br>

<h2 class="membersh2-1"> Members </h2>
<% @members_org.each do |x| %>
  <div class="membersdiv">
    <% unless User.where(id: x.user_id).select(:profile_picture).first.profile_picture.attached? == true%>
      <span class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></span>
    <% end %>
    <% unless User.where(id: x.user_id).select(:profile_picture).first.profile_picture.attached?  == false%>
      <span class="imageleft"><%= link_to image_tag(url_for(User.where(id: x.user_id).select(:profile_picture).first.profile_picture), width: '300px') %></span>
    <% end %>
    <h4 class="membersh4-1p"> Username: <%= User.select(:username).where(id: x.user_id).first.username %></h4>
    <h4 class="membersh4-1"> Role: <%= x.user_role %></h4>
  </div>
<% end %>

<br/>
