<%= stylesheet_link_tag 'organization'%>
<br/>
<br/>
<%if Organization.where(id: MembersList.where(user_id: current_user.id).select(:organization_id)).select(:id).present? == true  %>
  <h1 class="h1-mail"> My Organization </h1>
  <% Organization.where(id: MembersList.where(user_id: current_user.id).select(:organization_id)).each do |o| %>
    <div class="divorganization">
      <% unless o.banner_org.attached? == true%>
        <span class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></span>
      <% end %>
      <% unless o.banner_org.attached?  == false%>
        <span class="imageleft"><%= link_to image_tag(url_for(x.banner_org), width: '300px') %></span>
      <% end %>
      <br/>
      <br/>
      <br/>
      <br/>
      <h4 class="organizationh4-1p"><%= o.name %></h4>
      <h4 class="organizationh4-1"><%= o.description %></h4>
      <button class="botonorganizacion"><%= link_to 'View', organization_path(o) %></button>
    </div>
  <%end %>
<%end %>
<br/>
<br/>
<br/>
<br/>
<h1 class="h1-mail"> All of the Organizations </h1>
<% (Organization.all).each do |x| %>
  <div class="divorganization">
    <% unless x.banner_org.attached? == true%>
      <span class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></span>
    <% end %>
    <% unless x.banner_org.attached?  == false%>
      <span class="imageleft"><%= link_to image_tag(url_for(x.banner_org), width: '300px') %></span>
    <% end %>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4 class="organizationh4-1p"><%= x.name %></h4>
    <h4 class="organizationh4-1"><%= x.description %></h4>
    <button class="botonorganizacion"><%= link_to 'View', organization_path(x) %></button>
  </div>
  <br/>
  <br/>
<% end %>
