<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'organization'%>

<% unless @organization_user.first.banner_org.attached? == true%>
  <span class="imageleft1"><%= link_to image_tag("xd.jpeg") %></span>
<% end %>
<% unless @organization_user.first.banner_org.attached?  == false%>
  <span class="imageleft1"><%= link_to image_tag(url_for(@organization_user.first.banner_org)) %></span>
<% end %>

<aside class="aside-organization">
  <button class="botonorganizacion1"> <%= link_to 'See Members', organization_path(@id) %></button>
  <button class="botonorganizacion1"> <%= link_to 'Edit Organization', edit_organization_path(@organization_user.first.id) %></button>
</aside>
<h2 class="organizationh2" align="left"><%= @organization_user.first.name %></h2>
<h4 class="organizationh4",align="left"><%= @organization_user.first.description %></h4>
<h3 class="organizationh3-2"> ADMIN: <%= User.where(id: @admin.first.user_id).select(:username).first.username %></h3>

<br>

<h2 class="organizationh2-1"> Events of the Organization </h2>
  <% @eventos_org.each do |x| %>
    <div class="divorganization">
      <% unless x.banner_picture.attached? == true%>
        <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
      <% end %>
      <% unless x.banner_picture.attached?  == false%>
        <span class="imageleft"><%= link_to image_tag(url_for(x.banner_picture)) %></span>
      <% end %>
      <h4 class="organizationh4-1p"><%= x.description %></h4>
      <h4 class="organizationh4-1"><%= x.location %></h4>
      <h4 class="organizationh4-1"><%= x.final_date %></h4>
      <button class="botonorganizacion"><%= link_to 'View', event_path(x) %></button>
    </div>
  <% end %>
