<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'organization'%>
<h2 class="organizationh2" align="left"><%= @organization_user.first.name %></h2>
<h4 class="organizationh4",align="left"><%= @organization_user.first.description %></h4>
<button class="botonorganizacion"> <%= link_to 'See Members', organization_path(@id) %></button>
<br>


<h3 class="organizationh3"> Events of the Organization </h3>

  <% @eventos_org.each do |x| %>
    <div>
      <h3 class="organizationh3"><%= x.description %></h3>
      <h3 class="organizationh3"><%= x.location %></h3>
      <h3 class="organizationh3"><%= x.final_date %></h3>
    </div>
  <% end %>
