<p id="notice"><%= notice %></p>
<h2 align="left"><%= @organization_user.first.name %></h2>
<h2 align="center"> Members </h2>
<br/>

<table>
  <thead>
  <tr>
    <th> User </th>
    <th> Role </th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <% @members_org.each do |x| %>
    <tr>
      <td><%= User.select(:username).where(id: x.user_id).first.username %></td>
      <td><%= x.user_role %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>
<h6 align="center"><%= link_to 'Back', organizations_path %></h6>