<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'members'%>
<span class="imageleft1"><%= link_to image_tag("xd.jpeg") %></span>
<h2 class="membersh2" align="left"><%= @organization_user.first.name %></h2>
<h4 class="membersh4",align="left"><%= @organization_user.first.description %></h4>
<h3 class="membersh3"> ADMIN: <%= User.where(id: @admin.first.user_id).select(:username).first.username %></h3>
<br>

<h2 class="membersh2-1"> Members </h2>
  <% @members_org.each do |x| %>
    <div class="membersdiv">
      <span class="imageleft"><%= link_to image_tag("xd.jpeg") %></span>
      <h4 class="membersh4-1p"> Username: <%= User.select(:username).where(id: x.user_id).first.username %></h4>
      <h4 class="membersh4-1"> Role: <%= x.user_role %></h4>
    </div>
  <% end %>

<br/>
<button class="botonmembers"><%= link_to 'Back', organizations_path %></button>