<h2 class="h2profile2"> You select to Vote for the following event </h2>
<%= form_with model: @vote, local: true do |form| %>
  <div class="div-edit">
    <%= form.label :event_date_id %>
    <br/>
    <%= form.collection_select(:event_date_id, EventDate.where(event_id: Event.where(id: @event_vote.first.id).select(:id)).order(date: :asc), :id, :date, {}, { class: "form-control" }) %>
  </div>
  <div class="div-edit">
    <%= form.label :guest_id %>
    <br/>
    <%= form.collection_select(:guest_list_id, User.where(id: GuestList.where(event_id: Event.where(id: @event_vote.first.id).select(:id)).select(:user_id)).select(:username).order(title: :asc), :id, :username, {}, { class: "form-control" }) %>
  </div>
  <div class="actions">
    <%= form.submit "Update", class: ["btn"], remote: true %>
  </div>
<% end  %>