<h2 class="h2profile2"> You select to Vote for the following event </h2>

<div class="divprofile">
  <% unless Event.where(id: @event_vote.first.id).select(:banner_picture).first.banner_picture.attached? == true%>
    <h4 class="imageleft"><%= link_to image_tag("xd.jpeg", width: '300px') %></h4>
  <% end %>
  <% unless Event.where(id: @event_vote.first.id).select(:banner_picture).first.banner_picture.attached?  == false%>
    <h4 class="imageleft"><%= link_to image_tag(url_for(Event.where(id: @event_vote.first.id).select(:banner_picture).first.banner_picture), width: '300px'), x %></h4>
  <% end %>
  <h4 class="h4profilep"><%= Event.where(id: @event_vote.first.id).select(:title).first.title %></h4>
  <h4 class="h4profile"><%= Event.where(id: @event_vote.first.id).select(:description).first.description %></h4>
  <h4 class="h4profile"><%= Event.where(id: @event_vote.first.id).select(:location).first.location %></h4>
  </br>
  </br>
  </br>
  <%unless @vote.present? == false %>
    <%= render 'app/views/votes/new' %>
  <% end  %>

  <% unless @vote.present? == true %>
    <%= render 'app/views/votes/edit'%>
    <% end  %>
</div>

