<p id="notice"><%= notice %></p>
<h1>Votes of the Event: "<%= Event.where(id: @get_id).select(:title).first.title %>"</h1>
<table>
  <thead>
  <tr>
    <td> Date </td>
    <td> Amound of Votes</td>

  </tr>
  </thead>
  <tbody>

  <% @dates.each do |date| %>
    <tr>
      <td><%= date.date  %></td>
      <% @guests.each do |guest| %>
        <td><%= Vote.where(guest_list_id: guest.id, event_dates_id: date.id).select(:id) %></td>
      <%end %>
    </tr>
  <%end %>

  </tbody>

</table>

<%= link_to 'Back', events_path %>
