<div class="row ml-0 mt-3">
  <h2 class="edith2">Report Event </h2>
  <p class="p-edit">Please enter the required information to report an event:</p>
</div>

<div class="div-2">
  <%= form_with model: @report, local: true do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="div-edit">
      <%= form.collection_select :event_id, Event.all , :id, :title, {}, { class: "form-control" }  %>
    </div>
    <div class="div-edit">
      <%= form.label :description %>
      <br/>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="div-edit">
      <%= form.submit "Create", class: ["btn"] %>
    </div>
  <% end %>
</div>