<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111111;
      }
    </style>
    <title>Supreme Events</title>
    <h1><%= link_to 'Supreme Events', root_path %></h1>

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li>
        <%= link_to 'Profile', events_path%>
      </li>
      <li>
        <%= link_to 'My Events', users_path %>
      </li>
      <li>
        <%= link_to 'Organization', organizations_path %>
      </li>
      <li>
        <%= link_to 'Mail Box', system_admins_path %> #No funcional todavia
      </li>
      <li>
        <%= link_to 'Configurations', system_admins_path %> #No funcional todavia
      </li>
      <li>
        <%= link_to 'Admin', system_admins_path %>
      </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
