<!DOCTYPE html>
<html>
<head>
  <title>Supreme Events</title>
  <h1 class="apph1"><%= link_to image_tag("asdfas real.jpg"), root_path %></h1>
  <h5 class="apph5"> <%=User.first.full_name%> </h5>
  <h5 class="apph5"> Log out </h5>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<nav>
  <%= stylesheet_link_tag 'navegation'%>
  <ul>
    <li>
      <%= link_to 'Profile', users_path%>
    </li>
    <li>
      <%= link_to 'My Events', events_path %>
    </li>
    <li>
      <%= link_to 'Organization', organizations_path %>
    </li>
    <li>
      <%= link_to 'Mailbox', mailboxes_path %>
    </li>
    <li>
      <%= link_to 'Admin', system_admins_path %>
    </li>
    <li>
      <%= link_to "Search", new_search_path%>
    </li>

  </ul>
</nav>

<body>
<%= yield %>
</body>
</html>
