<!DOCTYPE html>
<html>
<head>
  <title>Supreme Events</title>
  <h1 class="apph1"><%= link_to image_tag("asdfas real.jpg"), root_path %></h1>
  <%unless user_signed_in? == true %>
    <h5 class="apph5"><%= link_to "Sign In", user_session_path %></h5>
    <h5 class="apph5"><%= link_to "Sign Up", "/users/sign_up" %></h5>
  <% end %>
  <%unless user_signed_in? == false %>
  <h5 class="apph5"><%= link_to "Log Out", destroy_user_session_path, :method => :destroy %></h5>
  <%end %>
  <%unless admin_signed_in? == false %>
    <h5 class="apph5"><%= link_to "Log Out", destroy_admin_session_path, :method => :destroy %></h5>
  <%end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<nav>
  <%= stylesheet_link_tag 'navegation'%>
  <ul>
    <% unless user_signed_in? == false or admin_signed_in? == false %>
    <li>
      <%= link_to 'Profile', user_path()%>
    </li>
    <li>
      <%= link_to 'My Events', event_creator_path(User.where(id:1).first.id)%>
    </li>
    <li>
      <%=link_to "My Votes", vote_path(User.where(id:1).first.id) %>
    </li>
    <li>
      <%= link_to 'Organization', organization_path(User.where(id:1).first.id) %>
    </li>
    <li>
      <%= link_to 'Mailbox', mailbox_path(User.where(id:1).first.id) %>
    </li>
      <%end %>
    <li>
      <%= link_to "Search", new_search_path%>
    </li>

  </ul>
</nav>

<body>
  <div class="row">
    <aside class="col-sm-2" id="customer_info">
      <% unless user_signed_in? == false %>
        <h5 class="apph5">Welcome, <%= current_user.full_name %></h5>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="apph5">Welcome, <%= User.first.full_name %></h5>
          </div>
        </div>
      <%end %>
      <% unless admin_signed_in? == false %>
        <h5 class="apph5">Welcome Admin%></h5>
      <% end %>
    </aside>
      <% if notice.present? %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
      <% end %>
  </div>
<%= yield %>
</body>
</html>
